# Ignore Maven build output
**/target/

# Ignore compiled classes
*.class

# If you ever use Gradle:
**/build/

# JanusGraph/FoundationDB data or logs under this tree
**/data/
**/logs/

# IntelliJ / IDE files (uncomment if you use one)
.idea/
*.iml
.vscode/

# OS files
.DS_Store
